<!-- <div
  class="trip-line"
  [style.max-width]="'calc(64px * ' + _totalTripLength / minTrip + ')'"
>
  <ng-container *ngFor="let item of tripArray; let i = index">
    <div
      style="display: flex; flex-direction: row-reverse; z-index: 100"
      [style.margin-left]="
        i != 0 && 'calc(64px * ' + item.length / minTrip + ')'
      "
    >
      <div class="trip-station"></div>
      <div style="transform: rotate(-45deg)">
        {{ item.end.identification.netPoint.displayText }}
      </div>
    </div>
  </ng-container>
</div> -->
<!-- 
<ul
  class="ratings"
  [style.width]="'calc(64px * ' + _totalTripLength / minTrip + ')'"
>
  <ng-container *ngFor="let item of tripArray; let i = index">
    <li
      style="display: flex; flex-direction: row-reverse; z-index: 1000"
      [style.margin-left]="
        i != 0 && 'calc(56px * ' + item.length / minTrip + ')'
      "
    ></li>
     <div style="transform: rotate(-45deg); width: 75.59px; height: 39px">
      {{ item.end.identification.netPoint.displayText }}
    </div>
  </ng-container>
</ul> -->

<div style="display: flex; align-items: center; padding: 20px">
  <ng-container *ngFor="let item of tripArray; let i = index">
    <div style="display: flex; flex-direction: column">
      <div
        style="display: flex; flex-direction: column; align-items: flex-start"
      >
        <span style="background-color: red">07:32</span>
        <div style="font-weight: 100; background-color: yellow">02:45</div>
      </div>
      <div style="display: flex; align-items: center">
        <div class="trip-station"></div>
        <div
          style="height: 2px; background-color: black"
          [style.width]="
            i != tripArray.length - 1 &&
            'calc(64px * ' + tripArray[i + 1].length / minTrip + ')'
          "
        ></div>
      </div>
      <div
        style="
          height: 39px;
          width: 76px;
          background-color: aqua;
          font-size: 14px;
          color: #a8a8a8;
          transform: rotate(-45deg);
          text-align: right;
          margin-top: 20px;
        "
      >
        {{ item.end.identification.netPoint.displayText }}
      </div>
    </div>
  </ng-container>
</div>
